.glitch-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(245, 245, 220, 0);
    mix-blend-mode: lighten;
    pointer-events: none;
    z-index: 999999999;

    & video {
        /* display: none; */
        object-fit: cover;
        mix-blend-mode: lighten;
    }
}



.preloader {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;
    align-content: center;
    gap: 30px;
    background-color: rgb(0, 0, 0);
    z-index: 9999999;


    /* & div {
        display: block;
    } */
        & p {
            font-size: 20px;
            color: white;
            /* margin-top: 20px; */
        }
    

}


.dots-10 {
    --s: 15px;
    width: calc(var(--s)*2.33);
    aspect-ratio: 1;
    display: flex;
    justify-content: space-between;
  }
  .dots-10::before,
  .dots-10::after {
    content: "";
    width: var(--s);
    --_g: no-repeat radial-gradient(farthest-side,#ffffff 94%,#0000);
    background:
      var(--_g) top,
      var(--_g) bottom;
    background-size: 100% var(--s);
    transform-origin: 50% calc(100% - var(--s)/2);
    animation: d10 1s infinite;
  }
  .dots-10::after {
    transform-origin: 50% calc(var(--s)/2);
  }
  
  @keyframes d10 {
     70%,100% {transform:rotate(-270deg)}
  }
  
  /**/
  /* body {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 130px;
    place-items:center;
  } */
  
  
  * {
    box-sizing: border-box;
  }