/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth 2s;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

:root {
    --x: 350px;
    --y: 250px;
    --shadowX: 0px;
    --shadowY: 0px;
    --scrollY: 0px; 
    --aboutPost: 700px; /* height(home) */
    --bufferPost: 3700px; /* height(home + about) */
    --workPost: 5000px; /* height(home + about + buffersection */
}


body {
    font-family: "archivo", sans-serif;
    /* height: 2000px; */
    background-color: black;
    /* overflow: hidden; */
    overflow-x: hidden;
    width: 100%;
}




.navbar {
    width: 100%;
    position: fixed !important;
    /* top: 24px; */
    /* right: 84px; */
    z-index: 999;
    padding: 24px 62px;
    display: flex;
    justify-content: space-between;
    
    & ul {
        display: flex;
        gap: 40px;
        justify-content: end;
        
    }
    
    .nav a {
        color: white;
        font-size: 11px;
        mix-blend-mode: difference;
        font-weight: 300;
        letter-spacing: 1px;
        transition: all .2s ease-in-out;
    
        &:hover {
            color: grey;
        }
    }
}

.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    /* pointer-events: none; */
    background: radial-gradient(circle at var(--x) var(--y), transparent 0.6%, rgba(0, 0, 0, 0.7) 40vw);
    /* backdrop-filter: brightness(110%); */
    z-index: 99999;
    pointer-events: none;
    /* backdrop-filter: brightness(200%); */
}

.smooth-scroll-wrapper {
    width: 100%;
    z-index: 9;
}
.container {
    width: 100%;
    /* height: 3000px; */
    /* min-height: 100vh;   */

}

#home {
    top: -100px;
    background-color: rgb(236, 236, 236);
    /* position: relative; */
    width: 100%;
    height: 700px;
    /* inset: -150px 0 0 !important; */
    display: grid;
    transition: all -1s ease-in-out;
    overflow: hidden;
    background-image: url(./background/imgonline-com-ua-CompressToSize-kcFkYjkZG5I.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-position: 0 calc(var(--scrollY) * 0.8); */

    /* overscroll-behavior: contain; */

    .title {
        align-self: center;
        text-align: center;
        position: relative;
        transform: translateY(calc(var(--scrollY) * 0.7));
        bottom: 45px;

        & h1 {
            font-family: "archivo", sans-serif;
            font-size: 84px;
            color: #ffffff;
            font-weight: 800;
            letter-spacing: -2PX;
            /* transition: all .7s ease-in-out; */
            text-shadow: var(--shadowX) calc(var(--shadowY)) 9px rgba(0, 0, 0, 0.7);
            /* : radial-gradient(circle at 50% 50%, transparent 1%, rgba(0, 0, 0, 0.9) 50%); */

        }
        
        & h3 {
            font-family: "archivo", sans-serif;
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 0;
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke: 1px #ffffff;
            /* transition: all .7s ease-in-out; */
            text-shadow: var(--shadowX) var(--shadowY) 9px rgba(0, 0, 0, 0.7);

        }

        
    }
}

#about {
    /* margin-top: 700px; */
    position: relative;
    height: 2500px;
    background-color: black;
    /* filter: brightness(90%); */
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
    padding: 30%;
    /* place-items: center; */
    /* padding: 0 30% 0 10% ; */
    text-align: left;
    background-image: url(./background/imgonline-com-ua-CompressToSize-pGWCaA7it0B4Rakk.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% calc(var(--scrollY) * 0.94 - var(--aboutPost) - 90px);
    perspective-origin: 600px calc(350PX + var(--scrollY) - 800px);
    perspective: 1200px;
  


    .layer {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0px -60px 100px black;
        background-image: url(./background/layer.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% calc(var(--scrollY) * 0.94 - var(--aboutPost) - 90px);
    }

    .text3d-container { 
        /* margin: 20%; */
        width: 180%;
        /* background-color: rgba(0, 255, 255, 0.368); */
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 700px;
        /* position: absolute;
        top: 0;
        left: 0; */

        transform: 
            rotateY(52deg)
            rotateX(4deg)
            /* rotateZ(0deg); */
            translateZ(-850px)
            translateX(300px)
            translateY(calc(var(--scrollY) / 30 + -150px));
            /* translateY(calc(var(--scrollY) / 6 + 300px)); */
            

        & h1 {
            color: white;
            font-size: 88px;
            font-weight: 600;
            /* background-color: rgba(0, 255, 255, 0.172); */
            /* transform: 
                rotateX(30deg)
                rotateY(30deg)
                translateY(calc(var(--scrollY) / 3 + 100px)); */
            /* margin-bottom: 50px; */

        }
    
        & p {
            color: white;
            font-size: 36px;
            font-weight: 400;
            line-height: 44px;
            margin-top: 30px;
            letter-spacing: 4px;
            /* transform: translateY(calc(var(--scrollY) / 30 + -100px)); */
            /* background-color: rgba(0, 255, 255, 0.172); */

    
        }
    }


}


.buffer-section {
    /* transform: translateY(400px); */
    margin-top: 500px;
    height: 1300px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 99;
    overflow: hidden;
    text-align: center;
    position: relative;
    /* top: 1000px; */
    box-shadow: inset 0px 60px 100px black;
    
    /* display: grid;
    place-items: center; */
    
    & p {
        /* display: none; */
        /* margin-top: 200px; */
        /* transform: translate(
            calc(var(--scrollY) * 1.5 - 3800px), 
            calc(var(--scrollY) - 2450px)
        ); */
        width: 100%;
        position: absolute;
        top: 29%;
       
  
        
        transform: translateY(calc(var(--scrollY) * 0.97 - var(--bufferPost)));
        font-size: 48px;
        font-weight: 600;
        color: white;
        /* filter: brightness(60%); */
    }
}


.action {
    /* display: none; */
    /* opacity: calc((var(--scrollY) - var(--bufferPost)) / 100); */
    background: radial-gradient(circle at calc(var(--scrollY) * 1 - var(--bufferPost)) 50%, transparent 0.4%, rgba(0, 0, 0, 0.8) 40%);
}

#work {
    padding-top: 465px;
    height: 270vw;
    width: 100%;
    background-color: black;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "a b"
        "c d";
    overflow: hidden;

    .video-container {
    
        width: fit-content;
        grid-area: b;
        /* position: relative; */
        transform: translateY(calc(var(--scrollY) - var(--workPost)));
        perspective-origin: 500px -150px;
        perspective: 800px;

        & div {
            position: relative;
            width: 400px;
            background-color: rgba(0, 255, 255, 0);
            transform: 
                    rotateY(-30deg)
                    rotateX(10deg)
                    translateX(-160px)
                    translateY(-140px)
                    translateZ(428px);

            .shadow {
                position: absolute;
                width: 3000px;
                height: 450px;
                background-color: rgb(0, 0, 0);
                box-shadow: 250px 0 150px rgb(0, 0, 0);
                transform: 
                    translateX(-2750px)
                    translateY(-100px);
                z-index: 99;
            }
        
            .videos {
                /* position: absolute;
                top: 7%;  */
                /* box-shadow: inset 1000px 0px 25px black; */
                display: flex;
                flex-direction: row;
                gap: 31vw;
                
                transform: 
                    /* rotateY(-30deg)
                    rotateX(10deg) */
                    translateX(calc(var(--workPost) * 0.8 - var(--scrollY) * 0.6));
                    /* translateY(-70px)
                    translateZ(550px); */
                
                & video, & img {
                    width: 15.5vw;
                    transform: translateX(-50px);
                }   
            }
        }
    }
}

.project-detail-container {
    width: 700px;
    grid-area: a;
    display: flex;
    flex-direction: column;
    /* gap: 34vw; */
    margin-left: 50px;
    color: white;
    padding: 15%;
    transform: translateY(calc(var(--scrollY) * 0.3 - var(--workPost) * 0.3));
    /* z-index: 9999; */
    
    & div {
        height: 54vw;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: translateY(-80px);

        & h1 {
            font-size: 48px;
        }

        & p {
            color: white;
        }
    }
}

#contact {
    height: 80vh;
    width: 100%;

    & h1 {
        font-size: 68px;
        margin: 100px 0 70px 40px;
        color: white;
    }
    
    & div {
        display: flex;

        & form {
            margin-left: 150px;
            display: flex;
            flex: 1;
            flex-direction: column;
    
            & label {
                font-size: 10px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;     
                margin-top: 16px;  
    
            }
    
            & input {
                background-color: rgba(255, 255, 255, 0);
                width: 400px;
                height: 40px;
                border-width: 0 0 1px 0;
                outline: none;
                border-color: white;
                font-size: 14px;
                color: white;     
                font-family: "archivo", Arial, Helvetica, sans-serif;     
            }
    
            .alert {
                display: none;
                margin-top: 8px;
                font-size: 10px;
                color: rgb(187, 0, 0);
                font-family: Arial, Helvetica, sans-serif;
            }
    
            & button {
                background-color: white;
                height: 35px;
                width: 80px;
                padding: 10px;
                outline: none;
                border-width: 0;
                margin-top: 15px;  
            }
        }

        .contact-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;

            & div {
                font-size: 20px;
                color: white;
            }
        }
    }
}



@media screen and (max-width: 599px) {

    .preloader {
        /* .dots-10 {margin-top: 40dvh;} */
        & p {font-size: 18px;}

    }
    
    .navbar {
        z-index: 999999;
        padding: 20px 24px;

        ul { gap: 24px}

        .nav a { 
            font-size: 8px; 
            color: rgba(255, 255, 255, 0.498); 
        }
    }

    .spotlight {
        background: radial-gradient(circle at 70% 40%, transparent 0.6%, rgba(0, 0, 0, 0.5) 50%);
        
    }

    #home {
        background-position: -50px calc(var(--scrollY) * 0.96 - 5px) !important;
        height: 1000px;

        .title {
            /* bottom: 70px; */
            
            & h1 {
                font-size: 40px !important;
                text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.7);
            }
    
            & h3 {
                font-size: 24px;
                text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.7);

            }
        }
    }
    
    #about {
        background-size: 125vh;
        height: 3200px;
        background-position: 62% calc(var(--scrollY) * 0.97 - var(--aboutPost) - 36vh);
        border-top: 5px solid black;
        perspective-origin: 0px calc(-1000PX + var(--scrollY) + 50vh);
        perspective: 900px;
        
        .layer {
            background-size: 125vh;
            background-position: 62% calc(var(--scrollY) * 0.97 - var(--aboutPost) - 36vh);
        }
        .text3d-container {
            width: 210%;
            transform: 
                rotateY(50deg)
                rotateX(0deg)
                translateZ(-158px)
                translateX(-50px)
                translateY(calc(var(--scrollY) / 5 + 100px));

                & h1 {
                    font-size: 36px !important;
                }
        
                & p {
                    font-size: 20px !important;
                    line-height: 32px;
                    letter-spacing: 2px;
                }
        }
    }

    .buffer-section {
        margin-top: 48vh;
        height: 1100px;

        & p {
            top: -33%;
            font-size: 28px;
        }
    }

    .action {
        background: radial-gradient(circle at calc(var(--scrollY) * 1 - var(--bufferPost) - 800px) 50%, transparent 0.4%, rgba(0, 0, 0, 0.8) 40%);
    }

    #work {
        height: 3900px;
        grid-template-rows: 0 1fr;

        .video-container {
            position: absolute;
            grid-area: a;
            transform: translateY(calc(var(--scrollY) - var(--workPost) - 550px));
            perspective-origin: 800px -150px;

            & div {
                transform: 
                    rotateY(-30deg)
                    rotateX(10deg)
                    /* translateX(00px) */
                    translateY(-130px)
                    translateZ(370px);

                .videos {
                    z-index: 9;
                    transform: translateX(calc(var(--workPost) / 2.51 - var(--scrollY) / 6.2));
                }
            }
        }

        .project-detail-container {
            grid-area: c;
            width: 100vw;
            padding: 10%;
            margin-left: 0;
            transform: translateY(calc(var(--scrollY) * 0.3 - var(--workPost) * 0.28));

            & div {
                height: 90vh;
                & h1 {
                    font-size: 36px;
                }
    
                & p {
    
                }
            }
        }
    }

    #contact {
        /* position: relative;
        top: -700px; */
        height: 85vh;

        & h1 {
            font-size: 40px;
            margin-top: 0;
        }

        & div {
            flex-direction: column;
            gap: 40px;

            & form {
                margin-left: 36px;

                & label {
                    font-size: 10px;
                }

                & input {
                    width: 85%;
                    height: 36px;
                    font-size: 14px;
                }

                .alert {
                    font-size: 10px;
                }

                & button {
                    width: 72px;
                    height: 32px;
                    padding: 8px;
                }
            }
        }
        
        .contact-info {
            margin-top: 24px;
            margin-left: 36px;
            gap: 16px;
            /* text-align: center; */

            & div {
                font-size: 16px !important;
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    #home {
        background-position: -200px calc(var(--scrollY) * 0.8) !important;
        background-size: cover;
        height: 108vh;

        .title {
            /* bottom: 70px; */
            
            & h1 {
                font-size: 64px !important;
                text-shadow: none;
            }
    
            & h3 {
                font-size: 42px;
                text-shadow: none;
            }
        }
    }

    #about {
        background-size: 1500px;
        height: 3200px;
        background-position: 65% calc(var(--scrollY) * 0.97 - var(--aboutPost) - 300px);


        .text3d-container {
            width: 228%;
            transform: 
                rotateY(52deg)
                rotateX(4deg)
                translateZ(-850px)
                translateX(380px)
                translateY(calc(var(--scrollY) / 10 + 100px));

        }
        & h1 {
            font-size: 48px !important;
        }

        & p {
            font-size: 34px !important;
            line-height: normal;
            letter-spacing: normal;
        }
    }

    .buffer-section {
        margin-top: 420px;
        height: 1100px;

        & p {
            top: -30%;
            font-size: 28px;
        }
    }

    .action {
        background: radial-gradient(circle at calc(var(--scrollY) * 1 - var(--bufferPost) - 800px) 50%, transparent 0.4%, rgba(0, 0, 0, 0.8) 40%);
    }

    #work {
        height: 5200px;
        grid-template-rows: 0 1fr;

        .video-container {
            position: absolute;
            grid-area: a;
            transform: translateY(calc(var(--scrollY) - var(--workPost) - 550px));

            & div {
                transform: 
                    rotateY(-30deg)
                    rotateX(10deg)
                    /* translateX(00px) */
                    translateY(-130px)
                    translateZ(350px);

                .videos {
                    z-index: 9;
                    transform: translateX(calc(var(--workPost) / 2.16 - var(--scrollY) / 4.44));
                }
            }
        }

        .project-detail-container {
            grid-area: c;
            width: 100vw;
            padding: 10%;
            margin-left: 0;
            transform: translateY(calc(var(--scrollY) * 0.45 - var(--workPost) * 0.5));

            & div {
                height: 90vh;
                & h1 {
                    font-size: 36px;
                }
    
                & p {
    
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #home {
        background-position: 0 calc(var(--scrollY) * 0.8);

    }
    
}